<!DOCTYPE html>
<html>
<head>
  <title>NoobTube</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>NoobTube</h1>
	<p>Most MLG 1337 video site ever! The only place to go for all the best 360NoSc0peYYDoubleLadderStall montage action!</p>

<%= yield %>

</body>
</html>
